/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 3px 9px hsla(0, 0, 0, 0.05);
  z-index: 100;
}
.nav,
.nav__list {
  display: flex;
}
.nav {
  height: calc(var(--header-height) + 2.2rem);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}
.nav__list {
  column-gap: 1.5rem;
}
.nav__link {
  color: var(--title-color);
  transition: all 0.3s ease;
}
.nav__toggle {
  display: none;
}
/* active Link*/
.active-link,
.nav__link:hover {
  color: var(--first-color);
}
@media screen and (max-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    padding-inline: 1rem;
  }

  .nav__logo {
    font-size: var(--h3-font-size);
  }

  .nav__list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--body-color);
    flex-direction: column;
    text-align: center;
    row-gap: 0.75rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 3px 9px hsla(0, 0, 0, 0.05);
  }

  .nav__toggle {
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  .nav__list-max {
    max-height: 600px;
    padding: 1.75rem;
  }

  .nav__link {
    font-size: var(--larger-font-size);
  }
}

@media screen and (max-width: 576px) {
  :root {
    --header-height: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 0.8rem);
  }

  .nav__logo {
    font-size: var(--h3-font-size);
  }

  .nav__toggle {
    font-size: 1.1rem;
  }

  .nav__link {
    font-size: 1rem;
  }
}
