.skills {
  background-color: var(--container-color);
}
.skills__container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__titles,
.skills__description {
  padding-inline: 1.5rem;
}
.skills__name {
  font-size: var(--larger-font-size);
}
.skills__no {
  color: var(--title-color);
  font-size: var(--larger-font-size);
  font-weight: var(--weight-600);
}
.skills__description {
  margin-block: 1rem 1.8rem;
}
.skills__percentage,
.skills__bar {
  height: 2px;
}
.skills__bar {
  background-color: var(--border-color);
}
.skills__percentage {
  background-color: var(--first-color);
  position: relative;
}
.skills__percentage span {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -0.75rem;
}
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .skills__titles,
  .skills__description {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    gap: 2rem;
  }

  .skills__titles,
  .skills__description {
    padding-inline: 0.75rem;
  }

  .skills__name {
    font-size: var(--larger-font-size);
  }

  .skills__no {
    font-size: var(--larger-font-size);
  }
}

@media screen and (max-width: 480px) {
  .skills__percentage span {
    width: 20px;
    height: 20px;
    top: -0.6rem;
  }
}
